<div class="container">
  <div class="row">
    <h2>Meine ToDo Liste.</h2>
  </div>
  <div class="row">
    <input [(ngModel)]="searchtext" class="col-lg-11">
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>Bezeichnung</th>
      <th>Kategorie</th>
        <th>Löschen</th>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos" (click)="toggle(todo)" [class.fertig]="todo.done" >
        <td>{{todo.label}}</td>
        <td>
          <select [(ngModel)]="newTodo.cat" class="form-control ">
          <option *ngFor="let cat of categories " [ngValue]="cat">
            {{cat.label}}
          </option>
        </select>
        </td>
        <td>
        <button (click)="loeschen(todo)" type="button" class="btn btn-danger">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
        </td>
        <td>

        </td>
      </tr>
      <p><br>Füge einige Aufgaben hinzu.</p>
      <input [(ngModel)]="newTodo.label" placeholder="ToDo"> <br/>
      <input [(ngModel)]="newCat" placeholder="Kategorie">
      <button type="button" (click)="save()" class="btn btn-success"><i class="material-icons">
        save
      </i></button>
      </tbody>
    </table>
  </div>
</div>
