<div class="container">
  <div class="row">
    <h2>Meine ToDo Liste.</h2>
  </div>
  <div class="row">
    <input [(ngModel)]="searchtext" class="col-lg-11">
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>Bezeichnung</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos" (click)="toggle(todo)" [class.fertig]="todo.done">
        <td>{{todo.label}}</td>
        <button (click)="loeschen(todo)" type="button" class="btn btn-danger">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
        <select [(ngModel)]="newTodo.category " class="form-control ">
          <option *ngFor="let cat of categories " [ngValue]="cat ">{{cat.category}}</option>
        </select>
      </tr>
      <p><br>Füge einige Aufgaben hinzu.</p>
      <input [(ngModel)]="newTodo.label">
      <button type="button" (click)="save()" class="btn btn-success"><i class="material-icons">
        save
      </i></button>
      </tbody>
    </table>
  </div>
</div>
